* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: #EAE6DF;

    
}

ul {
    list-style: none;
}

li {
    list-style: none;
    
}

a {
    text-decoration: none;
    
}

.container{
    max-width: 112.8rem;
    height: 4.8rem;
    margin: 0 auto;
    background-color: red;
    
    
}


